<h1>Setlists</h1>
  <ul>
    <% @setlists.each do |setlist|%>
      <li><a href="/setlists/<%=setlist.id%>"><%=setlist.name%></a> - <%=setlist.type_of_show%> created by <%=setlist.user.username%></li><br><br>
    <%end%>
  </ul>