<%if is_loggged_in? %>

  <h1>Setlist:</h1>
    <ul>
        <% @songs.each do |song|%>
        <li>*<a href="/songs/<%=song.id%>"> <%=song.title%></a> by <%=song.artist%></li>
        <%end%>
    </ul><br>


    <p><a href="/songs/new">Add New Song</a></p>
    <p><a href="/users/:id">Home</a></p>
    <p><a href="/users/logout">Log Out</a></p>

<%end%>