
<%if is_loggged_in? %>
        <p><a href="/songs">My Songs</a> </p>
        <p><a href="/songs/new">Add New Song</a> </p>
        <p><a href="/setlists">My Setlists</a> </p>
        <p><a href="/setlists/new">Create New Setlist</a> </p>
        <p><a href="/users/logout">Log Out</a></p>
<%end%>