<!DOCTYPE html>

  <head>

    <title>SetList_Creator</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Piedra&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Setlist Creator</strong></small>
      </footer>
    </div>

   
  </body>
</html>
